<form [formGroup]="ProfileForm" (ngSubmit)="onSubmit()">

    <label>
        FirstName:<br>
        <input type="text" formControlName="firstName" required><br>

    </label>

    <label>
        LastName:<br>
        <input type="text" formControlName="lastName"><br>

    </label>



    <div formGroupName="Address">
        <h3>Address</h3>

        <label>
            Street :<br>
            <input type="text" formControlName="street"><br>
        </label>

        <label>
            City : <br>
            <input type="text" formControlName="city"><br>
        </label>

        <label>
            State: <br>
            <input type="text" formControlName="state"><br>

        </label>

        <label>
            Zip: <br>
            <input type="text" formControlName="zip"><br>
        </label>
    </div>

    <button type="submit" [disabled]="!ProfileForm.valid">Sumbit</button>

</form>

<P>
    Form Value : {{ ProfileForm.value | json }}
</P>

<p>
    Form Status : {{ProfileForm.status}}

</p>

<p>
    <button (click)="UpdateProfile()">UpdateProfile</button>
</p>